<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agendamento Realizado</title>
    <link rel="icon" th:href="@{/img/1.png}" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/sucesso-agendamento.css}">
</head>
<body>
    <div class="container">
        <h1>Agendamento Realizado com Sucesso!</h1>
        <p>Sua visita foi pré-cadastrada. Em breve, você receberá um e-mail de confirmação com mais detalhes.</p>
        
        <div class="actions-container">
            <a th:href="@{/agendamento}" class="submit-btn">Realizar Novo Agendamento</a>
            <a th:href="@{/status-parque}" class="btn-link">Voltar à Página Inicial</a>
        </div>
    </div>
</body>
</html>